* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    overflow-x: hidden;
}

/* Header */
  
.header {
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #0000EC;
}

.header ul li a {
    font-family: 'IBM Plex Mono', monospace;
    color: #ffffff;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
}

.header ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
}

.header ul li a:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
}

.header .logo {
    float: left;
    display: block;
    padding: 16px;
}

.header .menu {
    clear: both;
    max-height: 0;
    -webkit-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background-color: #000000;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    -webkit-transition: background .25s ease-out;
    transition: background .25s ease-out;
}

.header .menu-icon .nav-icon::before {
    background: #000000;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon::after {
    background: #000000;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 224px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
}

/* Section 'Hello' */

main .hello {
    position: relative;
    padding: 0 5%;
    padding-top: 25%;
    z-index: 1;
    height: 350px;
}

main .hello h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}

main .hello h1 span[class*="line"] {
    text-decoration: line-through;
}

main .hello h1 span[class*="blue-dot"] {
    color: #0000EC;
}

main .hello p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin: 15px 0;
}

main .hello p .tech {
    display: none;
}

/* Buttons */

.btn {
    display: flex;
    align-items: stretch;
    margin-top: 40px;
}

.btn a {
    background: #00F3BB;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    padding: 15px 40px;
    cursor: pointer;
    margin: 4px 2px;
    flex-grow: 10;
    display: inline-block;
}

.btn a:hover {
    color: white;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

/* Section 'Episodios' */

main .episodios {
    height: 1203.5px;
    position: relative;
}

main .episodios .episodios_bg {
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;
}

main .episodios h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    padding: 64px 0 21px 16px;
}

main .episodios .episodios-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

main .episodios .episodios-container iframe {
    margin-bottom: 11px;
    display: flex;
    width: 100%;
    height: 232px;
}

/* Section 'Nosotros' (De d贸nde venimos) */

main .nosotros {
    height: 800px;
}

main .nosotros img {
    width: 320px;
    height: 519px;
    position: relative;
    top: -90px;
}

main .nosotros h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin-left: 16px;
    position: relative;
    top: -90px;
}

main .nosotros p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin: 8px 16px;
    position: relative;
    top: -90px;
}

/* Section 'Entrevistas' */

main .entrevistas h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin: 0 0 16px 16px;
}

main .entrevistas .image-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main .entrevistas img {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Section 'T贸picos' */

.topicos h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin: 20px 16px;
}

.topicos .topics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topicos .topic {
    width: 288px;
    height: 180px;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.topicos .topic p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    margin-top: 16px;
}

/* Footer */

/* Novedades */

.novedades {
    height: 341px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.novedades_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
}

.novedades h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    width: 288px;
}

/* End */

footer .end {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

footer .end p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}

footer .end .social {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

footer .end .social a {
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;
}

@media screen and (min-width: 1200px){

    /* Header & Nav */

    .header {
        padding-left: 5%;
    }

    .header .logo {
        transform: scale(1.5);
        padding: 20px;
    }

    .header ul {
        padding-right: 5%;
    }

    .header ul li {
        float: left;
    }

    .header ul li a {
        padding: 20px 30px;
        color: #000000;
    }

    .header ul li a:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }

    .header ul li a:active {
        color: rgba(6, 10, 36, 0.56);
        text-decoration: line-through;
    }

    .header .menu {
        background-color: #ffffff;
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    /* Section 'Hello' */

    main .hello {
        width: 100%;
        padding: 120px 200px;
        height: 500px;
    }
    
    main .hello .title {
        display: flex;
        flex-direction: row;
    }
    
    main .hello h1 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 64px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 84px;
    }
    
    main .hello h1 span[class*="line"] {
        text-decoration: line-through;
    }
    
    main .hello h1 span[class*="blue-dot"] {
        color: #0000EC;;
    }
    
    main .hello p {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 24px;
        width: 628px;
        margin: 0 0 52px 0;
    }

    main .hello p .tech {
        display: unset;
    }

    main .hello .btn {
        width: 226px;
    }
    
    main .hello .btn a {
        width: 226px;
        font-size: 18px;
        line-height: 24px;
    }

    /* Section 'Episodios' */

    main .episodios {
        height: 900px;
    }

    main .episodios .episodios_bg {
        top: 0;
    }

    main .episodios h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 48px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 62px;
        padding: unset;
        margin-left: 200px;
        margin-top: 50px;
    }

    main .episodios .episodios-container {
        margin: 26px 6.9%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
    }

    main .episodios .episodios-container iframe {
        width: 100%;
        height: 232px;
        margin-bottom: unset;
    }

    /* queda?
    main .episodios .episodios-container .episodio {
        max-width: unset;
        width: 100%;
        justify-self: unset;
        margin: unset;
    }
    */
    /* en mobile
    main .episodios .episodios-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid red;
    }
    
    main .episodios .episodios-container iframe {
        margin-bottom: 11px;
        display: flex;
        width: 100%;
        height: 232px;
    }*/
    /* en imagenes
    main .entrevistas .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main .entrevistas img {
        width: 100%;
        height: 100%;
    }*/

    /* Section 'Nosotros' (De d贸nde venimos) */

    main .nosotros {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 500px;
    }

    main .nosotros img {
        width: 457.6px;
        height: 660px;
        position: relative;
        top: -220px;
        margin-left: 150px;
    }

    main .nosotros-description {
        position: relative;
        top: 100px;
        height: 200px;
    }

    main .nosotros h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 48px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 62px;
        margin-left: unset;
        position: relative;
        top: -100px;
        margin-right: 300px;
    }

    main .nosotros p {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 24px;
        margin: 8px 300px 8px 0px;
        position: relative;
        top: -100px;
        width: 464px;
    }

    /* Section 'Entrevistas' */

    main .entrevistas h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        margin: 0 0 30px 200px;
    }

    main .entrevistas .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main .entrevistas img {
        width: 100%;
        height: 100%;
    }

    /* Section 'T贸picos' */

    .topicos h2 {
        margin: 40px 200px;
    }

    .topicos .topics-container {
        margin: 0 200px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .topicos .topic {
        width: 220px;
        margin: 25px 0;
    }

    /* Footer */

    /* Novedades */

    .novedades {
        height: 518px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .novedades_bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    }

    .novedades h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 48px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 62px;
        text-align: center;
        margin-top: 100px;
        display: unset;
        width: unset;
    }

    .novedades button {
        
        background: #00F3BB;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 500;
        font-size: 18px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
    }

    .novedades .btn {
        display: flex;
        align-items: stretch;
    }
    
    .novedades .btn a {
        background: #00F3BB;
        text-decoration: none;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 500;
        font-size: 18px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
        padding: 15px 40px;
        cursor: pointer;
        margin: 4px 2px;
        flex-grow: 10;
        display: inline-block;
        width: 345px;
        height: 56px;
    }
    
    .novedades .btn a:hover {
        color: white;
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    }

    /* End */

    footer .end {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: unset;
        height: 74px;
    }

    footer .end p {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
        margin-left: 100px;
    }

    footer .end .social {
        width: unset;
        display: flex;
        justify-content: space-between;
        margin-right: 100px;
    }

    footer .end .social a {
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        text-decoration: none;
        margin-left: 1.5rem;
    }   
}